<div>
    <h5>Description</h5>
    <p>{{ mission.description }}</p>

    <h5>Statut</h5>
    <p>{{ mission.statut }}</p>

    <h5>Points de récompense</h5>
    <p>{{ mission.pointsRecompense }} pts</p>

    <h5>Récompense</h5>
    <p>{{ mission.idRecompense.nomRecompense ?? 'Non spécifiée' }}</p>
</div>
